@font-face {
    font-family: 'Pacifico';
    src: url('./Pacifico-Regular.woff') format('woff'), url('./Pacifico-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
.hello {
    color: red;
    font-family: 'Pacifico';
    background: url('./test.jpg');
}